
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 140rem;
}.header19-MH3 {
  box-sizing: border-box;
  padding: 9rem 11.5rem 13.5rem 11.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.header19-MH3 .header-menu-gKK {
  margin: 0rem 32rem 7.2rem 31.7rem;
  width: calc(100% - 63.7rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.header19-MH3 .header-menu-gKK .startup-3-cTs {
  margin: 0rem 0rem 3.24rem 0.3rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3025;
  letter-spacing: -0.0293rem;
  color: #1e0d62;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.header19-MH3 .header-menu-gKK .menu-vDf {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.header19-MH3 .header-menu-gKK .menu-vDf .home-UFB {
  margin-right: 3.9rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.375;
  color: rgba(21, 20, 56, 0.400000006);
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.header19-MH3 .header-menu-gKK .menu-vDf .features-u5b {
  margin-right: 3.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.375;
  color: rgba(21, 20, 56, 0.400000006);
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.header19-MH3 .header-menu-gKK .menu-vDf .about-2vu {
  margin-right: 3.7rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.375;
  color: rgba(21, 20, 56, 0.400000006);
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.header19-MH3 .header-menu-gKK .menu-vDf .blog-ybF {
  margin-right: 4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.375;
  color: rgba(21, 20, 56, 0.400000006);
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.header19-MH3 .header-menu-gKK .menu-vDf .contact-us-Wr5 {
  margin-right: 3.7rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.375;
  color: rgba(21, 20, 56, 0.400000006);
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.header19-MH3 .header-menu-gKK .menu-vDf .fa-product-hunt-TFX {
  margin: 0.06rem 4.5rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: rgba(21, 20, 56, 0.400000006);
  font-family: FontAwesome, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.header19-MH3 .header-menu-gKK .menu-vDf .fa-apple-NdP {
  margin-top: 0.06rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: rgba(21, 20, 56, 0.400000006);
  font-family: FontAwesome, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.header19-MH3 .auto-group-qykp-WUh {
  margin-right: 12.3rem;
  width: calc(100% - 12.3rem);
  height: 51.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.header19-MH3 .auto-group-qykp-WUh .auto-group-5jst-SdF {
  box-sizing: border-box;
  padding: 0.3rem 10.3rem 0.3rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.header19-MH3 .auto-group-qykp-WUh .auto-group-5jst-SdF .paginator-black-Ap9 {
  margin: 15.5rem 8.9rem 26.3rem 0rem;
  width: 1.1rem;
  height: calc(100% - 41.8rem);
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.header19-MH3 .auto-group-qykp-WUh .auto-group-5jst-SdF .paginator-black-Ap9 .dots-gXb {
  width: 0.8rem;
  height: 11.6rem;
  position: relative;
}
.header19-MH3 .auto-group-qykp-WUh .auto-group-5jst-SdF .paginator-black-Ap9 .dots-gXb .fa-circle-dSq {
  width: 0.8rem;
  height: 3.6rem;
  position: absolute;
  left: 0;
  top: 8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 3;
  color: #eaeaed;
  font-family: FontAwesome, 'Source Sans Pro';
  white-space: nowrap;
}
.header19-MH3 .auto-group-qykp-WUh .auto-group-5jst-SdF .paginator-black-Ap9 .dots-gXb .fa-circle-wiR {
  width: 0.8rem;
  height: 3.6rem;
  position: absolute;
  left: 0rem;
  top: 6rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 3;
  color: #eaeaed;
  font-family: FontAwesome, 'Source Sans Pro';
  white-space: nowrap;
}
.header19-MH3 .auto-group-qykp-WUh .auto-group-5jst-SdF .paginator-black-Ap9 .dots-gXb .fa-circle-rKb {
  width: 0.8rem;
  height: 3.6rem;
  position: absolute;
  left: 0rem;
  top: 4rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 3;
  color: #eaeaed;
  font-family: FontAwesome, 'Source Sans Pro';
  white-space: nowrap;
}
.header19-MH3 .auto-group-qykp-WUh .auto-group-5jst-SdF .paginator-black-Ap9 .dots-gXb .fa-circle-mSZ {
  width: 0.8rem;
  height: 3.6rem;
  position: absolute;
  left: 0rem;
  top: 2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 3;
  color: #eaeaed;
  font-family: FontAwesome, 'Source Sans Pro';
  white-space: nowrap;
}
.header19-MH3 .auto-group-qykp-WUh .auto-group-5jst-SdF .paginator-black-Ap9 .dots-gXb .fa-circle-gZX {
  width: 0.8rem;
  height: 3.6rem;
  position: absolute;
  left: 0rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 3;
  color: #e8397d;
  font-family: FontAwesome, 'Source Sans Pro';
  white-space: nowrap;
}
.header19-MH3 .auto-group-qykp-WUh .auto-group-5jst-SdF .text-cTB {
  margin-bottom: 1.8rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.header19-MH3 .auto-group-qykp-WUh .auto-group-5jst-SdF .text-cTB .the-best-apple-watch-mL5 {
  margin: 0rem 0rem 3.7rem 0.1rem;
  max-width: 42.7rem;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.2068965517;
  letter-spacing: -0.1rem;
  color: #1e0d62;
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.header19-MH3 .auto-group-qykp-WUh .auto-group-5jst-SdF .text-cTB .startup-framework-gi-rsK {
  margin-bottom: 9.4rem;
  max-width: 44.9rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.4545454545;
  color: rgba(21, 20, 56, 0.400000006);
  font-family: DM Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.header19-MH3 .auto-group-qykp-WUh .auto-group-5jst-SdF .text-cTB .middle-fill-yww {
  width: 30rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.4444444444;
  color: #ffffff;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #482be7;
  border-radius: 10rem;
  flex-shrink: 0;
}
.header19-MH3 .auto-group-qykp-WUh .image-fpm {
  width: 39.5rem;
  height: 51.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
