
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 140rem;
}.header12-zem {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #2f1893;
  box-sizing: border-box;
  padding: 9.2rem 21.508rem 9.114rem 21.4rem;

  .auto-group-x4bb-v2d {
    margin: 0rem 10.2rem 0.286rem 0rem;
    width: 39.9rem;
    flex-shrink: 0;

    .startup-3-qvH {
      white-space: nowrap;
      width: 100%;
      text-align: center;
      font-weight: 700;
      line-height: 1.3025;
      letter-spacing: -0.0293rem;
      color: #ffffff;
      margin-bottom: 2.9rem;
      font-size: 2.4rem;
      font-family: DM Sans, 'Source Sans Pro';
    }
    .text-knM {
      margin-bottom: 3.8rem;
      width: 100%;
      display: flex;
      flex-direction: column;

      .beautiful-startup-fr-WmX {
        margin: 0rem 0rem 2.5rem 0.1rem;
        font-size: 5.8rem;
        font-weight: 700;
        letter-spacing: -0.1rem;
        max-width: 39.8rem;
        line-height: 1.2068965517;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .a-high-quality-solut-okd {
        font-weight: 500;
        line-height: 1.4545454545;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 33.6rem;
        font-size: 2.2rem;
      }
    }
    .middle-fill-jeH {
      width: 27.5rem;
      display: flex;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 1.4444444444;
      background-color: #25dac4;
      border-radius: 10rem;
      height: 6rem;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .auto-group-nr1f-DpM {
    width: 46.9919rem;
    height: 75.6861rem;
    position: relative;
    flex-shrink: 0;

    .hero-iphone-x-AUh {
      height: 75.6861rem;
      position: relative;
      left: 0;
      top: 0;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:c27e5c6aa47dd0d38a096e280fd83e508efb680c');
      width: 37.991rem;
    }
    .hero-iphone-x-clay-s8D {
      top: 3.7rem;
      width: 34.1919rem;
      height: 68.3316rem;
      position: absolute;
      left: 12.8rem;

      .screen-zTj {
        position: absolute;
        left: 2.4857rem;
        top: 2.1rem;
        object-fit: contain;
        vertical-align: top;
        width: 29.6rem;
        height: 64.2rem;
      }
      .hero-iphone-x-clay-vsB {
        width: 34.1919rem;
        height: 68.3316rem;
        position: relative;
        left: 0;
        top: 0;
        background-size: 100% 100%;
        background-image: url('REPLACE_IMAGE:be0a0d87dd62f38ec7f3dfd69ff00789b49cb79a');
      }
    }
    .hero-iphone-x-3S1 {
      top: 0;
      width: 37.991rem;
      height: 75.6861rem;
      position: absolute;
      left: 0;

      .screen-NDP {
        left: 2.4842rem;
        top: 2.1rem;
        object-fit: contain;
        vertical-align: top;
        width: 33rem;
        height: 71.5rem;
        position: absolute;
      }
      .hero-iphone-x-uUD {
        left: 0;
        top: 0;
        background-size: 100% 100%;
        background-image: url('REPLACE_IMAGE:c27e5c6aa47dd0d38a096e280fd83e508efb680c');
        width: 37.991rem;
        height: 75.6861rem;
        position: relative;
      }
    }
  }
}
