
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 140rem;
}.header8-ho7 {
  box-sizing: border-box;
  padding: 8.5rem 11.1rem 16.3rem 11.1rem;
  width: 100%;
  overflow: hidden;
  align-items: center;
  display: flex;
  background-repeat: no-repeat;
  background-image: url('REPLACE_IMAGE:2e9d962f4c269f57807850115899b4611a2bf3ba');
  position: relative;
  flex-direction: column;
  background-size: 100% 100%;
  background-position: center;
  background-color: #2f1893;

  .header-menu-pMw {
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 36.4rem 13.6rem 35.5rem;
    width: calc(100% - 71.9rem);
    display: flex;

    .home-iy7 {
      line-height: 1.4444444444;
      color: #ffffff;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 4.4rem;
      font-size: 1.8rem;
      font-weight: 500;
    }
    .features-eLy {
      margin-right: 4.4rem;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 1.4444444444;
      color: #ffffff;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .pricing-nCH {
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 1.4444444444;
      color: #ffffff;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 4.3rem;
    }
    .blog-vZP {
      line-height: 1.4444444444;
      color: #ffffff;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 4.3rem;
      font-size: 1.8rem;
      font-weight: 500;
    }
    .fa-dribbble-TpD {
      line-height: 1.2575;
      color: #ffffff;
      font-family: FontAwesome, 'Source Sans Pro';
      font-size: 1.8rem;
      font-weight: 400;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.14rem 4.5rem 0rem 0rem;
      display: flex;
    }
    .fa-behance-BER {
      display: flex;
      font-size: 1.8rem;
      font-weight: 400;
      flex-shrink: 0;
      margin-top: 0.14rem;
      line-height: 1.2575;
      color: #ffffff;
      font-family: FontAwesome, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .auto-group-7vk5-hCm {
    width: 100%;
    height: 26.3rem;
    position: relative;
    flex-shrink: 0;
    margin-bottom: 4.8rem;

    .arrows-ds7 {
      position: absolute;
      left: 0;
      top: 8.2rem;
      display: flex;
      align-items: center;
      width: 117.8rem;
      height: 3.8rem;

      .fa-angle-left-yg5 {
        margin-right: 114rem;
        font-weight: 400;
        font-family: FontAwesome, 'Source Sans Pro';
        flex-shrink: 0;
        white-space: nowrap;
        text-align: center;
        font-size: 3rem;
        line-height: 1.2575;
        color: #ffffff;
      }
      .fa-angle-right-uZj {
        font-family: FontAwesome, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #ffffff;
      }
    }
    .text-SZf {
      position: absolute;
      left: 22.6rem;
      top: 0;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 72.6rem;
      height: 26.3rem;

      .startup-3-ZPP {
        letter-spacing: -0.0293rem;
        flex-shrink: 0;
        margin: 0rem 0.2rem 2.18rem 0rem;
        text-align: center;
        font-weight: 700;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2.4rem;
        line-height: 1.3025;
        color: #ffffff;
      }
      .forget-about-code-4b3 {
        display: flex;
        align-items: center;
        font-weight: 700;
        white-space: nowrap;
        margin: 0rem 0rem 2.72rem 0.1rem;
        justify-content: center;
        font-size: 7.2rem;
        line-height: 1.1944444444;
        letter-spacing: -0.1rem;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .startup-framework-gi-Znh {
        line-height: 1.4545454545;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 72.6rem;
        text-align: center;
        font-size: 2.2rem;
        font-weight: 500;
      }
    }
  }
  .paginator-white-h8D {
    height: 1.1rem;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 54.4rem 5.8rem 54.3rem;
    width: calc(100% - 108.7rem);

    .dots-d1s {
      width: 8.8rem;
      height: 3.6rem;
      display: flex;
      column-gap: 1.2rem;
      align-items: center;

      .fa-circle-ksB {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 3;
        color: #ffffff;
        font-family: FontAwesome, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .fa-circle-o-JNu {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 3;
        color: #ffffff;
        font-family: FontAwesome, 'Source Sans Pro';
      }
      .fa-circle-o-r9X {
        font-family: FontAwesome, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 3;
        color: #ffffff;
      }
      .fa-circle-o-CUH {
        color: #ffffff;
        font-family: FontAwesome, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 3;
      }
      .fa-circle-o-Yo3 {
        font-family: FontAwesome, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 3;
        color: #ffffff;
      }
    }
  }
  .middle-fill-VyB {
    margin: 0 47.4rem;
    align-items: center;
    font-family: DM Sans, 'Source Sans Pro';
    line-height: 1.4444444444;
    color: #ffffff;
    background-color: #482be7;
    width: calc(100% - 94.8rem);
    height: 6rem;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 10rem;
    white-space: nowrap;
    display: flex;
    flex-shrink: 0;
  }
}
