
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 140rem;
}.header21-iG9 {
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #2f1893;
  box-sizing: border-box;
  padding: 4.9rem 21.5rem 12.68rem 21.5rem;
  width: 100%;
  flex-direction: column;
  background-position: center;
  background-image: url('REPLACE_IMAGE:495a76abfa6125a690a426b8fcb3bbfd55392e02');
  position: relative;
  align-items: center;
  display: flex;

  .header-menu-ppy {
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 7.4rem;
    width: 100%;
    height: 4rem;
    display: flex;

    .auto-group-ruus-M4D {
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.5rem 12.9rem 0.3rem 0rem;
      height: 100%;
      display: flex;

      .startup-3-4jK {
        margin-right: 22.1rem;
        font-weight: 700;
        letter-spacing: -0.0293rem;
        color: #ffffff;
        flex-shrink: 0;
        text-align: center;
        font-size: 2.4rem;
        line-height: 1.3025;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
      .menu-AnM {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0.6rem 0rem 0.4rem 0rem;
        height: calc(100% - 1rem);

        .get-the-app-VZj {
          font-weight: 500;
          line-height: 1.375;
          color: #ffffff;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3rem;
          font-size: 1.6rem;
        }
        .features-DVj {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.3rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.375;
          color: #ffffff;
          font-family: DM Sans, 'Source Sans Pro';
        }
        .about-MM3 {
          color: #ffffff;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.1rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.375;
        }
        .faq-5Xw {
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.375;
          color: #ffffff;
        }
      }
    }
    .small-white-outline-pVX {
      display: flex;
      border: solid 0.2rem rgba(255, 255, 255, 0.3000000119);
      border-radius: 10rem;
      margin-right: 2rem;
      width: 9rem;
      align-items: center;
      color: #ffffff;
      flex-shrink: 0;
      justify-content: center;
      font-size: 1.6rem;
      line-height: 1.375;
      font-family: DM Sans, 'Source Sans Pro';
      height: 100%;
      font-weight: 500;
      white-space: nowrap;
      box-sizing: border-box;
    }
    .small-fill-5gM {
      font-family: DM Sans, 'Source Sans Pro';
      justify-content: center;
      font-size: 1.6rem;
      line-height: 1.375;
      align-items: center;
      font-weight: 500;
      color: #ffffff;
      white-space: nowrap;
      background-color: #482be7;
      border-radius: 10rem;
      flex-shrink: 0;
      width: 9rem;
      height: 100%;
      display: flex;
    }
  }
  .startup-framework-s-ASu {
    text-align: center;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.2068965517;
    color: #ffffff;
    font-family: DM Sans, 'Source Sans Pro';
    max-width: 55.4rem;
    letter-spacing: -0.1rem;
    flex-shrink: 0;
    margin-bottom: 10rem;
  }
  .icon-fill-ess {
    white-space: nowrap;
    margin: 0rem 45rem 11rem 45rem;
    color: #ffffff;
    line-height: 1.2575;
    font-family: FontAwesome, 'Source Sans Pro';
    flex-shrink: 0;
    align-items: center;
    font-weight: 400;
    background-color: #ea3223;
    border-radius: 10rem;
    justify-content: center;
    font-size: 2rem;
    display: flex;
    width: calc(100% - 90rem);
    height: 7rem;
  }
  .auto-group-vbaz-Hfw {
    width: calc(100% - 30.7rem);
    height: 10.0199rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 15.8rem 0rem 14.9rem;

    .feature-1-Cnu {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 8.6rem;
      height: 100%;

      .drag-and-drop-genera-m5K {
        flex-shrink: 0;
        margin-bottom: 1.6199rem;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.4545454545;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
      .build-your-site-quic-hDs {
        font-family: DM Sans, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 31.6rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.625;
        color: #ffffff;
      }
    }
    .feature-2-Rff {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 0.0199rem;
      height: calc(100% - 0.0199rem);

      .share-export-to-ht-kxq {
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.6rem;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.4545454545;
      }
      .save-time-and-energy-617 {
        flex-shrink: 0;
        max-width: 26.1rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.625;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
      }
    }
  }
}
