
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 140rem;
}.header13-Spy {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 5.4rem 21.5rem 13.2rem 21.4rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #2f1893;
  width: 100%;
  position: relative;
  background-position: center;
  background-image: url('REPLACE_IMAGE:ea2aa004d123d74e8b0f8a717f45cbac3e869bec');

  .header-menu-Yt1 {
    margin-bottom: 8.6rem;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-yujs-gjK {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.5rem 15.2rem 0.3rem 0rem;
      height: 100%;

      .startup-3-cN5 {
        text-align: center;
        letter-spacing: -0.0293rem;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 15.4rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.3025;
        color: #ffffff;
        flex-shrink: 0;
      }
      .menu-7pd {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0.4rem 0rem 0.2rem 0rem;
        height: calc(100% - 0.6rem);

        .tour-dny {
          font-size: 1.8rem;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.9rem;
          display: flex;
          color: #ffffff;
          font-weight: 500;
          line-height: 1.4444444444;
        }
        .features-Mys {
          margin-right: 3.4rem;
          font-size: 1.8rem;
          line-height: 1.4444444444;
          flex-shrink: 0;
          display: flex;
          font-weight: 500;
          color: #ffffff;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
        }
        .pricing-hXw {
          font-weight: 500;
          color: #ffffff;
          font-family: DM Sans, 'Source Sans Pro';
          flex-shrink: 0;
          font-size: 1.8rem;
          display: flex;
          line-height: 1.4444444444;
          white-space: nowrap;
          margin-right: 3.3rem;
        }
        .blog-Ryj {
          display: flex;
          color: #ffffff;
          white-space: nowrap;
          margin-right: 3.3rem;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.4444444444;
          font-family: DM Sans, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .fa-dribbble-yEZ {
          display: flex;
          font-weight: 400;
          line-height: 1.2575;
          margin: 0.1rem 3.5rem 0rem 0rem;
          font-size: 1.8rem;
          color: #ffffff;
          font-family: FontAwesome, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .fa-instagram-5oP {
          font-weight: 400;
          line-height: 1.2575;
          color: #ffffff;
          font-family: FontAwesome, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0.1rem 3.5rem 0rem 0rem;
          display: flex;
          font-size: 1.8rem;
          flex-shrink: 0;
        }
        .fa-behance-cYR {
          display: flex;
          color: #ffffff;
          margin-top: 0.1rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.2575;
          font-family: FontAwesome, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .small-fill-9HT {
      height: 100%;
      align-items: center;
      font-weight: 500;
      line-height: 1.375;
      width: 12rem;
      display: flex;
      justify-content: center;
      font-size: 1.6rem;
      font-family: DM Sans, 'Source Sans Pro';
      flex-shrink: 0;
      color: #ffffff;
      background-color: #482be7;
      border-radius: 10rem;
      white-space: nowrap;
    }
  }
  .create-sites-without-routine-qAH {
    font-weight: 700;
    line-height: 1.1944444444;
    font-family: DM Sans, 'Source Sans Pro';
    margin: 0rem 1.1rem 3.8rem 0rem;
    max-width: 53.2rem;
    text-align: center;
    font-size: 7.2rem;
    letter-spacing: -0.1rem;
    color: #ffffff;
    flex-shrink: 0;
  }
  .startup-gives-you-complete-freedom-over-your-creative-process-you-dont-have-to-think-about-any-technical-aspects-there-are-no-limits-and-absolutely-no-coding-izm {
    max-width: 51.3rem;
    line-height: 1.4545454545;
    color: #ffffff;
    margin-left: 0.2rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 500;
    font-family: DM Sans, 'Source Sans Pro';
    flex-shrink: 0;
  }
}
