
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 140rem;
}.header6-f13 {
  background-color: #2f1893;
  box-sizing: border-box;
  position: relative;
  flex-direction: column;
  background-size: 100% 218.75%;
  display: flex;
  background-position: 0 -19.1rem;
  background-image: url('REPLACE_IMAGE:56c0ebdf79acfbca313f7fd14d17f34d6be83e9f');
  padding: 6rem 21.5rem 11rem 21.4rem;
  width: 100%;
  overflow: hidden;
  align-items: center;

  .header-menu-PSq {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 6.8896rem;
    width: 100%;
    height: 4.0104rem;

    .auto-group-9pwf-Y4q {
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.5rem 25.5rem 0.31rem 0rem;
      height: 100%;
      display: flex;

      .menu-GWd {
        margin: 0.2rem 13.1rem 0.4rem 0rem;
        height: calc(100% - 0.6rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .products-boo {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.2rem;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.4444444444;
          color: #ffffff;
          font-family: DM Sans, 'Source Sans Pro';
        }
        .pricing-KUu {
          font-weight: 500;
          line-height: 1.4444444444;
          color: #ffffff;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.3rem;
          font-size: 1.8rem;
        }
        .community-rUq {
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.4444444444;
          color: #ffffff;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .startup-3-PUm {
        letter-spacing: -0.0293rem;
        font-family: DM Sans, 'Source Sans Pro';
        text-align: center;
        line-height: 1.3025;
        color: #ffffff;
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 700;
      }
    }
    .sign-in-i1F {
      flex-shrink: 0;
      height: 100%;
      display: flex;
      align-items: center;

      .login-GoT {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 3.2rem 0.041rem 0rem;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.4444444444;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
      }
      .middle-fill-Q8y {
        display: flex;
        color: #ffffff;
        white-space: nowrap;
        height: 100%;
        font-weight: 500;
        line-height: 1.4444444444;
        border-radius: 10rem;
        width: 10rem;
        justify-content: center;
        font-size: 1.8rem;
        background-color: #25dac4;
        align-items: center;
        font-family: DM Sans, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
  }
  .text-VAR {
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 11.45rem 0rem 11.55rem;
    width: calc(100% - 23rem);
    align-items: center;
    display: flex;

    .a-high-quality-solut-D6R {
      max-width: 74.1rem;
      font-size: 5.8rem;
      font-family: DM Sans, 'Source Sans Pro';
      color: #ffffff;
      flex-shrink: 0;
      text-align: center;
      font-weight: 700;
      line-height: 1.2068965517;
      letter-spacing: -0.1rem;
    }
    .auto-group-ukwp-vFj {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 8.5rem 12.6rem 0rem 12.7rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .icon-fill-F37 {
        line-height: 1.2575;
        background-color: #ea3223;
        flex-shrink: 0;
        justify-content: center;
        border-radius: 10rem;
        height: 7rem;
        font-weight: 400;
        color: #ffffff;
        font-family: FontAwesome, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 20.95rem 7.2rem 20.85rem;
        width: calc(100% - 41.8rem);
        display: flex;
        align-items: center;
        font-size: 2rem;
      }
      .we-made-it-so-beutif-hA1 {
        flex-shrink: 0;
        max-width: 48.8rem;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.5555555556;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
      }
    }
  }
  .header6-f13-bg {
    height: 80rem;
    position: relative;
    background-image: url('REPLACE_IMAGE:56c0ebdf79acfbca313f7fd14d17f34d6be83e9f');
    width: 140rem;
  }
}
