
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 140rem;
}.header7-d9b {
  align-items: center;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-left: 11.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;

  .auto-group-seq1-MrH {
    margin: 0rem 13.3rem 8.15rem 0rem;
    width: 56.6rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .header-menu-gdf {
      flex-shrink: 0;
      width: 100%;
      height: 3.2rem;
      display: flex;
      align-items: center;

      .startup-3-qFf {
        color: #1e0d62;
        margin-right: 32.1rem;
        font-weight: 700;
        line-height: 1.3025;
        letter-spacing: -0.0293rem;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2.4rem;
      }
      .menu-Yfs {
        margin: 0.45rem 0rem 0.55rem 0rem;
        height: calc(100% - 1rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .pricing-tDw {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.8rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.375;
          color: rgba(21, 20, 56, 0.400000006);
          font-family: DM Sans, 'Source Sans Pro';
        }
        .about-orh {
          line-height: 1.375;
          color: rgba(21, 20, 56, 0.400000006);
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 500;
        }
      }
    }
    .auto-group-zbeq-Y3b {
      box-sizing: border-box;
      padding-top: 11.9498rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .text-TwF {
        margin-bottom: 7.1rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .great-tool-to-boost-d53 {
          color: #1e0d62;
          flex-shrink: 0;
          max-width: 51.9rem;
          line-height: 1.2068965517;
          font-weight: 700;
          letter-spacing: -0.1rem;
          font-family: DM Sans, 'Source Sans Pro';
          margin-bottom: 2.6rem;
          font-size: 5.8rem;
        }
        .we-made-it-so-beutif-wLd {
          font-weight: 500;
          line-height: 1.5555555556;
          color: rgba(21, 20, 56, 0.400000006);
          font-family: DM Sans, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 46.6rem;
          font-size: 1.8rem;
        }
      }
      .call-to-action-4AM {
        margin-left: 0.1rem;
        width: 35.4rem;
        flex-shrink: 0;

        .auto-group-cvmx-zph {
          margin: 0rem 0.4rem 2rem 0rem;
          width: calc(100% - 0.4rem);
          display: flex;
          align-items: center;

          .middle-fill-j1b {
            display: flex;
            font-weight: 500;
            margin: 0rem 1rem 0.1rem 0rem;
            flex-shrink: 0;
            height: 6rem;
            align-items: center;
            justify-content: center;
            font-size: 1.8rem;
            line-height: 1.4444444444;
            color: #ffffff;
            white-space: nowrap;
            width: 17rem;
            background-color: #25dac4;
            border-radius: 10rem;
            font-family: DM Sans, 'Source Sans Pro';
          }
          .middle-dark-outline-zCR {
            color: #1e0d62;
            border: solid 0.2rem #eaeaed;
            box-sizing: border-box;
            justify-content: center;
            font-size: 1.8rem;
            font-weight: 500;
            white-space: nowrap;
            border-radius: 10rem;
            height: 6rem;
            flex-shrink: 0;
            font-family: DM Sans, 'Source Sans Pro';
            width: 17rem;
            display: flex;
            align-items: center;
            line-height: 1.4444444444;
            margin-top: 0.1rem;
          }
        }
        .by-signing-up-you-a-TLu {
          white-space: nowrap;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.625;
          color: rgba(21, 20, 56, 0.400000006);
          font-family: DM Sans, 'Source Sans Pro';
        }
      }
    }
  }
  .photo-B21 {
    width: 58.5rem;
    height: 81rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
  }
}
