
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 140rem;
}.header2-gWm {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #2f1893;
  box-sizing: border-box;
  padding: 5.3rem 12.6rem 11.86rem 11.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;

  .header-menu-QBs {
    margin-bottom: 8.9rem;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-jfbf-jjw {
      box-sizing: border-box;
      padding-right: 3.6rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .startup-3-g9P {
        font-size: 2.4rem;
        line-height: 1.5;
        white-space: nowrap;
        flex-shrink: 0;
        font-family: Poppins, 'Source Sans Pro';
        margin: 0rem 71.9rem 0.4rem 0rem;
        text-align: center;
        font-weight: 700;
        letter-spacing: -0.0293rem;
        color: #ffffff;
      }
      .subscribe-MWR {
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.28rem 3.3rem 0rem 0rem;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.5555555556;
        color: #ffffff;
      }
      .features-TZT {
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.28rem;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.5555555556;
      }
    }
    .middle-fill-Pi1 {
      background-color: #482be7;
      display: flex;
      font-weight: 500;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      height: 100%;
      font-size: 1.8rem;
      line-height: 1.4444444444;
      flex-shrink: 0;
      width: 10rem;
      color: #ffffff;
      border-radius: 10rem;
      align-items: center;
      justify-content: center;
    }
  }
  .text-VFF {
    margin: 0rem 26.85rem 7.32rem 27.95rem;
    width: calc(100% - 54.8rem);
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .lets-make-design-fa-pHX {
      max-width: 61.1rem;
      font-weight: 700;
      line-height: 1.1944444444;
      letter-spacing: -0.1rem;
      color: #ffffff;
      font-family: DM Sans, 'Source Sans Pro';
      margin-bottom: 4.38rem;
      text-align: center;
      font-size: 7.2rem;
      flex-shrink: 0;
    }
    .the-most-important-p-KVB {
      font-size: 2.2rem;
      line-height: 1.4545454545;
      color: #ffffff;
      flex-shrink: 0;
      margin-left: 0.1rem;
      max-width: 60.6rem;
      text-align: center;
      font-weight: 500;
      font-family: DM Sans, 'Source Sans Pro';
    }
  }
  .auto-group-tjey-cz5 {
    margin: 0rem 33.4rem 0rem 34.5rem;
    width: calc(100% - 67.9rem);
    height: 11.44rem;
    position: relative;
    flex-shrink: 0;

    .subscribe-form-HqK {
      position: absolute;
      left: 5.5rem;
      top: 0;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      width: 42.5rem;
      height: 11.44rem;
      border-radius: 3rem;

      .button-Quw {
        flex-shrink: 0;
        font-size: 2rem;
        line-height: 1.3;
        display: flex;
        justify-content: center;
        border-radius: 3rem;
        text-align: center;
        letter-spacing: -0.025rem;
        white-space: nowrap;
        background-color: #25dac4;
        margin-bottom: 3.24rem;
        font-weight: 600;
        color: #ffffff;
        align-items: center;
        width: 12rem;
        height: 6rem;
        font-family: Poppins, 'Source Sans Pro';
      }
      .by-signing-up-you-a-Ueu {
        font-size: 1.6rem;
        letter-spacing: -0.02rem;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 5.3rem;
        line-height: 1.375;
        font-weight: 400;
      }
    }
    .big-white-outline-ZwF {
      box-sizing: border-box;
      height: 6rem;
      font-size: 2rem;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      font-weight: 500;
      line-height: 1.3;
      border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
      border-radius: 10rem;
      padding: 1.8rem 2.4rem 1.6rem 2.4rem;
      width: 35rem;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      color: #ffffff;
    }
  }
}
