
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 140rem;
}.header1-iWd {
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 6rem 11rem 10.88rem 11.6rem;
  width: 100%;
  overflow: hidden;

  .auto-group-2uup-SBj {
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 8.9rem;
    width: 100%;
    height: 4rem;
    display: flex;

    .startup-3-NbB {
      text-align: center;
      font-size: 2.4rem;
      letter-spacing: -0.0293rem;
      white-space: nowrap;
      margin: 0.2rem 29.7rem 0rem 0rem;
      font-weight: 700;
      line-height: 1.3025;
      color: #1e0d62;
      font-family: DM Sans, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .menu-sXw {
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-vyem-2vd {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.72rem 2.1rem 0.48rem 0rem;

        .home-9kM {
          margin-right: 3.4rem;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.5555555556;
          color: rgba(21, 20, 56, 0.400000006);
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .features-Und {
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.7rem;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.5555555556;
          color: rgba(21, 20, 56, 0.400000006);
        }
        .blog-1Xf {
          margin-right: 3.9rem;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.5555555556;
          color: rgba(21, 20, 56, 0.400000006);
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .shop-M5j {
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.5555555556;
          color: rgba(21, 20, 56, 0.400000006);
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3rem;
        }
        .fa-search-Hk5 {
          margin: 0.06rem 23.2rem 0rem 0rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: rgba(21, 20, 56, 0.400000006);
          font-family: FontAwesome, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .sign-in-QJu {
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.5555555556;
          color: rgba(21, 20, 56, 0.400000006);
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .middle-fill-8Vo {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        line-height: 1.4444444444;
        white-space: nowrap;
        flex-shrink: 0;
        border-radius: 10rem;
        width: 10rem;
        font-size: 1.8rem;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
        background-color: #25dac4;
      }
    }
  }
  .text-1pV {
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 25.8rem 7.92rem 25.2rem;
    width: calc(100% - 51rem);
    align-items: center;
    display: flex;

    .startup-framework-jVb {
      font-size: 7.2rem;
      line-height: 1.1944444444;
      color: #1e0d62;
      white-space: nowrap;
      margin-bottom: 3.78rem;
      text-align: center;
      font-weight: 700;
      letter-spacing: -0.1rem;
      font-family: DM Sans, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .we-made-it-so-beutif-SQ1 {
      color: rgba(21, 20, 56, 0.400000006);
      font-family: DM Sans, 'Source Sans Pro';
      flex-shrink: 0;
      margin-left: 0.2rem;
      text-align: center;
      font-size: 2.2rem;
      font-weight: 500;
      line-height: 1.4545454545;
      max-width: 58.2rem;
    }
  }
  .butons-wrZ {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 44rem 0rem 43.4rem;
    width: calc(100% - 87.4rem);

    .big-fill-t17 {
      display: flex;
      color: #ffffff;
      border-radius: 10rem;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      width: 100%;
      justify-content: center;
      font-weight: 500;
      flex-shrink: 0;
      margin-bottom: 1.72rem;
      height: 6rem;
      line-height: 1.3;
      align-items: center;
      font-size: 2rem;
      background-color: #25dac4;
    }
    .learn-more-BF7 {
      flex-shrink: 0;
      text-align: center;
      font-weight: 500;
      line-height: 1.4444444444;
      white-space: nowrap;
      font-size: 1.8rem;
      letter-spacing: -0.0225rem;
      color: #25dac4;
      font-family: Poppins, 'Source Sans Pro';
    }
  }
}
