
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 140rem;
}.header20-VmK {
  padding: 7.3rem 21.5rem 7.3rem 31.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #2f1893;
  box-sizing: border-box;

  .hero-iphone-x-1zZ {
    margin: 8.1rem 12.524rem 0rem 0rem;
    width: 26.9764rem;
    height: 74.4973rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-L1F {
      vertical-align: top;
      width: 25.6rem;
      height: 72.8rem;
      position: absolute;
      left: 0.5882rem;
      top: 0.6rem;
      object-fit: contain;
    }
    .hero-iphone-x-3wF {
      height: 74.4973rem;
      position: relative;
      left: 0;
      top: 0;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:4e06fef1d47d61291711785bddeb5c2e2bdbdb5a');
      width: 26.9764rem;
    }
  }
  .auto-group-hqs9-LvM {
    margin: 14.1rem 8.6rem 0rem 0rem;
    width: 37.8rem;
    flex-shrink: 0;

    .startup-3-fxd {
      font-size: 2.4rem;
      color: #ffffff;
      font-family: DM Sans, 'Source Sans Pro';
      margin-bottom: 3rem;
      text-align: center;
      font-weight: 700;
      line-height: 1.3025;
      letter-spacing: -0.0293rem;
      white-space: nowrap;
      width: 100%;
    }
    .text-nGZ {
      flex-direction: column;
      margin-bottom: 3.7rem;
      width: 100%;
      align-items: flex-end;
      display: flex;

      .lets-make-design-fa-XE9 {
        line-height: 1.1944444444;
        color: #ffffff;
        flex-shrink: 0;
        font-size: 7.2rem;
        font-weight: 700;
        letter-spacing: -0.1rem;
        font-family: DM Sans, 'Source Sans Pro';
        margin-bottom: 4.1rem;
        max-width: 37.8rem;
      }
      .the-most-important-p-1f7 {
        line-height: 1.4545454545;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 37.4rem;
        font-size: 2.2rem;
        font-weight: 500;
      }
    }
    .big-fill-LhP {
      font-weight: 500;
      line-height: 1.3;
      margin-left: 0.5rem;
      height: 6rem;
      background-color: #25dac4;
      border-radius: 10rem;
      width: 17rem;
      font-size: 2rem;
      font-family: DM Sans, 'Source Sans Pro';
      display: flex;
      align-items: center;
      white-space: nowrap;
      justify-content: center;
      color: #ffffff;
    }
  }
  .fa-reorder-pMf {
    font-weight: 400;
    line-height: 1.2575;
    color: #ffffff;
    font-family: FontAwesome, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    text-align: right;
    font-size: 1.8rem;
  }
}
