
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 140rem;
}.header9-ZER {
  width: 100%;
  height: 80rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;

  .background-WQZ {
    height: 84rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 7.8rem 41.5rem 18.7rem 21.4rem;
    width: 160rem;

    .header-menu-Dpm {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0rem 10.4rem 0.1rem;
      width: calc(100% - 0.1rem);
      height: 4rem;
      display: flex;

      .auto-group-ezt7-LPb {
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.5rem 3.6rem 0.3rem 0rem;
        height: 100%;
        display: flex;

        .startup-3-4aV {
          margin-right: 26.6rem;
          letter-spacing: -0.0293rem;
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.3025;
          color: #1e0d62;
          font-family: DM Sans, 'Source Sans Pro';
        }
        .home-xfs {
          flex-shrink: 0;
          margin: 0rem 4.4rem 0.2rem 0rem;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.4444444444;
          color: #1e0d62;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
        }
        .features-g65 {
          line-height: 1.4444444444;
          color: #1e0d62;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.4rem 0.2rem 0rem;
          font-size: 1.8rem;
          font-weight: 500;
        }
        .pricing-nuo {
          color: #1e0d62;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.6rem 0.2rem 0rem;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.4444444444;
        }
        .blog-WL1 {
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.4444444444;
          color: #1e0d62;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .middle-dark-outline-Emo {
        width: 11.8rem;
        display: flex;
        color: #1e0d62;
        box-sizing: border-box;
        border-radius: 10rem;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        font-weight: 500;
        border: solid 0.2rem #eaeaed;
        flex-shrink: 0;
        height: 100%;
        line-height: 1.4444444444;
      }
    }
    .auto-group-gy5b-6Z7 {
      align-items: center;
      flex-shrink: 0;
      width: 100%;
      height: 43.1rem;
      display: flex;

      .auto-group-ykqm-eKj {
        margin-right: 13.3rem;
        width: 46.8rem;
        height: 100%;
        flex-shrink: 0;

        .text-bEy {
          margin-bottom: 5.2rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .you-have-the-design-jc5 {
            line-height: 1.2068965517;
            letter-spacing: -0.1rem;
            font-family: DM Sans, 'Source Sans Pro';
            color: #1e0d62;
            flex-shrink: 0;
            margin-bottom: 2.5rem;
            max-width: 46.8rem;
            font-size: 5.8rem;
            font-weight: 700;
          }
          .we-made-it-so-beutif-F4d {
            line-height: 1.5555555556;
            color: rgba(21, 20, 56, 0.400000006);
            font-family: DM Sans, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 39.7rem;
            font-size: 1.8rem;
            font-weight: 500;
          }
        }
        .big-fill-a6u {
          font-size: 2rem;
          line-height: 1.3;
          white-space: nowrap;
          border-radius: 10rem;
          height: 6rem;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          color: #ffffff;
          font-family: DM Sans, 'Source Sans Pro';
          background-color: #482be7;
          width: 20.6rem;
          display: flex;
        }
      }
      .image-f8M {
        padding: 11.887rem 11.887rem 11.887rem 11.887rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:145e38eafc2cfc4d3ba1656153899023f53eb5ed');
        flex-shrink: 0;
        margin: 2rem 0rem 4.1rem 0rem;
        box-sizing: border-box;
        height: calc(100% - 6.1rem);
        border-radius: 5rem;

        .oval-151-Aau {
          vertical-align: top;
          width: 13.2255rem;
          height: 13.2255rem;
          object-fit: contain;
        }
      }
    }
  }
}
