
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 140rem;
}.header18-Eyf {
  background-image: url('REPLACE_IMAGE:410d0c439d359a1983d55a33bd9d1ef454ff22f9');
  padding: 6rem 11.5rem 16.8rem 21.3rem;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
  background-color: #2f1893;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .header-menu-AMX {
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 0rem 9.7rem 0.1rem;
    width: calc(100% - 0.1rem);
    height: 4rem;
    display: flex;

    .auto-group-3flm-6FB {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.5rem 3.2rem 0.3rem 0rem;
      height: 100%;

      .startup-3-pgy {
        font-size: 2.4rem;
        line-height: 1.3025;
        letter-spacing: -0.0293rem;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 37.6rem;
        text-align: center;
        font-weight: 700;
        color: #ffffff;
      }
      .menu-7vy {
        margin: 0.2rem 0rem 0.4rem 0rem;
        height: calc(100% - 0.6rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .get-the-app-eR7 {
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 4.1rem;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.4444444444;
          color: #ffffff;
        }
        .features-aZf {
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.4444444444;
          color: #ffffff;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 4.4rem;
        }
        .about-85P {
          font-weight: 500;
          line-height: 1.4444444444;
          color: #ffffff;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 4.1rem;
          font-size: 1.8rem;
        }
        .faq-TNZ {
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.9rem;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.4444444444;
          color: #ffffff;
        }
        .sign-in-axy {
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.4444444444;
          color: #ffffff;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .middle-fill-Jty {
      line-height: 1.4444444444;
      color: #482be7;
      height: 100%;
      align-items: center;
      font-size: 1.8rem;
      font-weight: 500;
      font-family: DM Sans, 'Source Sans Pro';
      width: 10rem;
      display: flex;
      justify-content: center;
      white-space: nowrap;
      border-radius: 10rem;
      flex-shrink: 0;
      background-color: #ffffff;
    }
  }
  .text-b7P {
    flex-shrink: 0;
    margin: 0rem 50.1rem 3.52rem 0rem;
    width: 57.1rem;
    height: 38.9801rem;
    position: relative;

    .we-have-created-a-ne-v9f {
      width: 56.9rem;
      height: 9.6rem;
      left: 0.2rem;
      top: 29.3801rem;
      font-size: 2.2rem;
      font-family: DM Sans, 'Source Sans Pro';
      position: absolute;
      font-weight: 500;
      line-height: 1.4545454545;
      color: #ffffff;
    }
    .startup-framework-s-1gu {
      font-family: DM Sans, 'Source Sans Pro';
      height: 34.4rem;
      top: 0;
      font-size: 7.2rem;
      font-weight: 700;
      letter-spacing: -0.1rem;
      color: #ffffff;
      width: 41.5rem;
      position: absolute;
      left: 0;
      line-height: 1.1944444444;
    }
  }
  .auto-group-7rjd-KBo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-right: 71.1rem;
    width: calc(100% - 71.1rem);
    height: 6rem;

    .big-fill-rBj {
      background-color: #ffffff;
      border-radius: 10rem;
      display: flex;
      font-family: DM Sans, 'Source Sans Pro';
      font-weight: 500;
      color: #482be7;
      white-space: nowrap;
      flex-shrink: 0;
      width: 17rem;
      font-size: 2rem;
      height: 100%;
      line-height: 1.3;
      justify-content: center;
      margin-right: 2.1rem;
      align-items: center;
    }
    .big-white-outline-Lch {
      width: 17rem;
      height: 100%;
      line-height: 1.3;
      color: #ffffff;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      font-weight: 500;
      white-space: nowrap;
      display: flex;
      font-family: DM Sans, 'Source Sans Pro';
      border: solid 0.2rem rgba(255, 255, 255, 0.3000000119);
      box-sizing: border-box;
      border-radius: 10rem;
    }
  }
}
