
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 140rem;
}.header4-35K {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 4.5rem 12.6rem 10.2rem 11.6rem;
  overflow: hidden;
  align-items: center;
  background-color: #ffffff;
  box-sizing: border-box;

  .header-menu-m1K {
    margin-bottom: 7.8rem;
    width: 100%;
    height: 3.2rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .startup-3-6pH {
      text-align: center;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.3025;
      letter-spacing: -0.0293rem;
      color: #1e0d62;
    }
    .auto-group-8vk9-D8D {
      align-items: flex-end;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.54rem 0rem 0.06rem 3.2rem;
      height: 100%;
      display: flex;

      .menu-jMT {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-right: 45.5rem;

        .features-GsB {
          color: rgba(21, 20, 56, 0.400000006);
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.4rem;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.4444444444;
        }
        .downloads-ocD {
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.6rem;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.4444444444;
          color: rgba(21, 20, 56, 0.400000006);
        }
        .docs-k1f {
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.2rem;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.4444444444;
          color: rgba(21, 20, 56, 0.400000006);
        }
        .support-UiM {
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.4444444444;
          color: rgba(21, 20, 56, 0.400000006);
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.2rem;
        }
        .blog-pnD {
          color: rgba(21, 20, 56, 0.400000006);
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.4444444444;
        }
      }
      .socials-Zjo {
        align-items: center;
        flex-shrink: 0;
        margin-top: 0.22rem;
        display: flex;

        .fa-twitter-KDB {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.2575;
          color: rgba(21, 20, 56, 0.400000006);
          font-family: FontAwesome, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 4.2rem;
        }
        .fa-facebook-square-F6q {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.2575;
          color: rgba(21, 20, 56, 0.400000006);
          font-family: FontAwesome, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.8rem;
        }
        .fa-google-plus-ZtD {
          font-weight: 400;
          line-height: 1.2575;
          color: rgba(21, 20, 56, 0.400000006);
          font-family: FontAwesome, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
        }
      }
    }
  }
  .simple-and-beautiful-6dF {
    font-weight: 700;
    line-height: 1.2068965517;
    letter-spacing: -0.1rem;
    color: #1e0d62;
    font-family: DM Sans, 'Source Sans Pro';
    flex-shrink: 0;
    margin: 0rem 0rem 8.9rem 1.4rem;
    max-width: 75.1rem;
    text-align: center;
    font-size: 5.8rem;
  }
  .placeholder-CRP {
    margin: 0rem 18.9rem 0rem 19.9rem;
    box-sizing: border-box;
    width: calc(100% - 38.8rem);
    height: 43.4rem;
    background-repeat: no-repeat;
    background-position: center;
    padding: 18.2rem 35rem;
    background-size: 100% 100%;
    background-image: url('REPLACE_IMAGE:5a2a787a7ab6bbaedf2c19060dac58d8a5f98fa0');
    flex-shrink: 0;

    .icon-fill-JUR {
      height: 100%;
      align-items: center;
      line-height: 1.2575;
      font-family: FontAwesome, 'Source Sans Pro';
      border-radius: 10rem;
      color: #ffffff;
      white-space: nowrap;
      background-color: #ea3223;
      width: 100%;
      display: flex;
      justify-content: center;
      font-size: 2rem;
      font-weight: 400;
    }
  }
}
