
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 140rem;
}.header16-ag1 {
  padding: 4.5rem 0rem 11.28rem 21.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-position: center;
  flex-direction: column;
  background-image: url('REPLACE_IMAGE:d6ba85a703cc1d2f954882eddb6e22925185cc64');
  background-color: #2f1893;
  align-items: center;

  .header-menu-hkd {
    flex-shrink: 0;
    margin: 0rem 21.5rem 9.3rem 0rem;
    width: calc(100% - 21.5rem);
    height: 4rem;
    display: flex;
    align-items: center;

    .auto-group-ssmw-qM3 {
      box-sizing: border-box;
      padding-right: 36.6rem;
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .startup-3-nGH {
        margin-right: 2.6rem;
        text-align: center;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.3025;
        white-space: nowrap;
        letter-spacing: -0.0293rem;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .menu-sHj {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0.5rem 0rem 0.9rem 0rem;
        height: calc(100% - 1.4rem);

        .tour-bUd {
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.1rem;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.4444444444;
          color: #ffffff;
        }
        .prices-w2h {
          font-weight: 500;
          line-height: 1.4444444444;
          color: #ffffff;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.7rem;
          font-size: 1.8rem;
        }
        .about-Gqf {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.6rem;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.4444444444;
          color: #ffffff;
          font-family: DM Sans, 'Source Sans Pro';
        }
        .faq-DF7 {
          flex-shrink: 0;
          margin-right: 2.4rem;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.4444444444;
          color: #ffffff;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
        }
        .support-9uT {
          color: #ffffff;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.4444444444;
        }
      }
    }
    .middle-fill-ViR {
      color: #ffffff;
      border-radius: 10rem;
      width: 10.5rem;
      line-height: 1.4444444444;
      background-color: #25dac4;
      height: 100%;
      justify-content: center;
      font-weight: 500;
      font-family: DM Sans, 'Source Sans Pro';
      flex-shrink: 0;
      display: flex;
      align-items: center;
      font-size: 1.8rem;
      white-space: nowrap;
    }
  }
  .auto-group-evnm-mvq {
    align-items: flex-start;
    flex-shrink: 0;
    margin-left: 0.1rem;
    width: calc(100% - 0.1rem);
    height: 62.9199rem;
    display: flex;

    .auto-group-r4jt-hpV {
      flex-shrink: 0;
      margin-right: 4.4809rem;
      width: 56.3rem;
      height: 100%;

      .text-qfo {
        margin-bottom: 11.4rem;
        width: 100%;
        display: flex;
        flex-direction: column;

        .build-your-own-site-CWM {
          letter-spacing: -0.1rem;
          color: #ffffff;
          flex-shrink: 0;
          max-width: 41.5rem;
          font-size: 7.2rem;
          font-weight: 700;
          margin-bottom: 3.2rem;
          line-height: 1.1944444444;
          font-family: DM Sans, 'Source Sans Pro';
        }
        .we-have-created-a-ne-hxu {
          font-weight: 500;
          line-height: 1.4545454545;
          color: #ffffff;
          font-family: DM Sans, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 56.3rem;
          font-size: 2.2rem;
        }
      }
      .features-Exq {
        margin-right: 1.9rem;
        width: calc(100% - 1.9rem);
        height: 21.5199rem;
        display: flex;
        align-items: flex-start;

        .feature-1-nDf {
          flex-shrink: 0;
          margin-right: 6.7rem;
          height: 100%;
          display: flex;
          flex-direction: column;

          .fa-gears-jPo {
            font-family: FontAwesome, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 5.8199rem;
            font-weight: 400;
            line-height: 0.52;
            letter-spacing: 0.625rem;
            text-transform: uppercase;
            font-size: 5rem;
            color: #ffffff;
            white-space: nowrap;
          }
          .based-on-bootstrap-3-Fd3 {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 2.7rem 0.1rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.3;
            color: #ffffff;
            font-family: DM Sans, 'Source Sans Pro';
          }
          .html-layout-is-based-Ztd {
            margin-left: 0.1rem;
            max-width: 23.2rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.625;
            color: #ffffff;
            font-family: DM Sans, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .feature-2-VXP {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .fa-html5-44h {
            white-space: nowrap;
            margin-bottom: 5.8199rem;
            font-size: 5rem;
            font-weight: 400;
            text-transform: uppercase;
            flex-shrink: 0;
            line-height: 0.52;
            letter-spacing: 0.625rem;
            color: #ffffff;
            font-family: FontAwesome, 'Source Sans Pro';
          }
          .html5-css3-mjo {
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.3;
            color: #ffffff;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 2.7rem 0.1rem;
          }
          .we-used-only-time-te-VQu {
            font-weight: 400;
            line-height: 1.625;
            color: #ffffff;
            font-family: DM Sans, 'Source Sans Pro';
            flex-shrink: 0;
            margin-left: 0.1rem;
            max-width: 24.3rem;
            font-size: 1.6rem;
          }
        }
      }
    }
    .macbook-Qnm {
      position: relative;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:5c2f83201247faa6f74322102d3508c9e3c4f3dc');
      flex-shrink: 0;
      width: 100.6311rem;
      height: 57.9939rem;

      .line-LRX {
        height: 54.6615rem;
        position: absolute;
        left: 9.5597rem;
        top: 0.2777rem;
        object-fit: contain;
        vertical-align: top;
        width: 81.5578rem;
      }
      .macbook-pro-copy-46d {
        width: 6.1319rem;
        height: 0.7936rem;
        position: absolute;
        left: 47.3164rem;
        top: 53.7861rem;
        object-fit: contain;
        vertical-align: top;
      }
      .screen-nHX {
        position: absolute;
        left: 11.3191rem;
        top: 2.6rem;
        border-radius: 0.5rem;
        width: 77.9rem;
        height: 49.5rem;

        .rectangle-XF7 {
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          width: 77.9rem;
          height: 49.5rem;
        }
      }
      .macbook-Qnm-bg {
        background-image: url('REPLACE_IMAGE:5c2f83201247faa6f74322102d3508c9e3c4f3dc');
        width: 100.6311rem;
        height: 57.9939rem;
        position: relative;
      }
    }
  }
}
