
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 140rem;
}.header14-1dK {
  overflow: hidden;
  align-items: center;
  width: 100%;
  padding: 6.5rem 21.5rem 10.3rem 20.9rem;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #2f1893;
  box-sizing: border-box;

  .header-menu-8xq {
    margin: 0rem 0rem 8.2rem 0.5rem;
    width: calc(100% - 0.5rem);
    height: 4rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .startup-3-fSy {
      margin: 0rem 36rem 0.2rem 0rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.3025;
      color: #ffffff;
      white-space: nowrap;
      text-align: center;
      letter-spacing: -0.0293rem;
      font-family: DM Sans, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .menu-N6V {
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-mjny-KnR {
        box-sizing: border-box;
        padding: 0.74rem 3.4rem 0.66rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .about-Ss3 {
          font-weight: 500;
          line-height: 1.4444444444;
          color: #ffffff;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.4rem;
          font-size: 1.8rem;
        }
        .prices-Nkh {
          color: #ffffff;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3rem;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.4444444444;
        }
        .blog-iZf {
          line-height: 1.4444444444;
          color: #ffffff;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.3rem;
          font-size: 1.8rem;
          font-weight: 500;
        }
        .feedback-eiD {
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.4444444444;
          color: #ffffff;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .middle-fill-zXB {
        line-height: 1.4444444444;
        flex-shrink: 0;
        font-weight: 500;
        font-family: DM Sans, 'Source Sans Pro';
        background-color: #e8397d;
        font-size: 1.8rem;
        height: 100%;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        width: 12rem;
        white-space: nowrap;
        border-radius: 10rem;
        display: flex;
      }
    }
  }
  .auto-group-dnuz-GDo {
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 60rem;
    display: flex;

    .text-1hB {
      margin: 3.2rem 8.2rem 7.2rem 0rem;
      height: calc(100% - 10.4rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .twenty-five-awesome-jt5 {
        max-width: 42.1rem;
        font-size: 5.8rem;
        font-weight: 700;
        line-height: 1.2068965517;
        color: #ffffff;
        margin: 0rem 0rem 3.1rem 0.3rem;
        letter-spacing: -0.1rem;
        font-family: DM Sans, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .the-most-important-p-2sB {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.4545454545;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 0rem 4.5rem 0.3rem;
        max-width: 36.3rem;
      }
      .middle-fill-Xow {
        display: flex;
        justify-content: center;
        font-size: 1.8rem;
        font-weight: 500;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
        flex-shrink: 0;
        height: 5rem;
        align-items: center;
        line-height: 1.4444444444;
        width: 15.7rem;
        white-space: nowrap;
        background-color: #e8397d;
        border-radius: 10rem;
      }
    }
    .placeholder-cKb {
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 4.8rem 7rem 4.3rem 6.95rem;
      width: 47rem;
      background-color: #ffffff;
      border-radius: 1rem;
      flex-shrink: 0;

      .sign-up-idX {
        letter-spacing: -0.04rem;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 3.4rem 0.55rem;
        text-align: center;
        font-weight: 700;
        line-height: 1.2380952381;
        font-size: 4.2rem;
        color: #1e0d62;
        flex-shrink: 0;
      }
      .middle-dark-outline-DqB {
        width: 33rem;
        display: flex;
        font-weight: 500;
        border: solid 0.2rem #eaeaed;
        border-radius: 10rem;
        padding: 1.2rem 2.4rem;
        line-height: 1.4444444444;
        flex-shrink: 0;
        box-sizing: border-box;
        font-family: DM Sans, 'Source Sans Pro';
        font-size: 1.8rem;
        color: rgba(21, 20, 56, 0.400000006);
        white-space: nowrap;
        margin: 0rem 0rem 2rem 0.05rem;
      }
      .middle-dark-outline-fSH {
        color: rgba(21, 20, 56, 0.400000006);
        white-space: nowrap;
        margin: 0rem 0rem 3rem 0.05rem;
        padding: 1.2rem 2.4rem;
        font-size: 1.8rem;
        border-radius: 10rem;
        width: 33rem;
        font-weight: 500;
        line-height: 1.4444444444;
        font-family: DM Sans, 'Source Sans Pro';
        border: solid 0.2rem #eaeaed;
        flex-shrink: 0;
        box-sizing: border-box;
        display: flex;
      }
      .checkbox-checked-7ZB {
        margin: 0rem 6.4rem 2.76rem 0.05rem;
        width: calc(100% - 6.4502rem);
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .on-S5f {
          margin-right: 1.3rem;
          width: 2.4rem;
          height: 2.4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .checked-mdj {
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.04rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.625;
          color: rgba(21, 20, 56, 0.400000006);
        }
      }
      .middle-fill-hXP {
        margin: 0rem 0rem 1.84rem 0.05rem;
        line-height: 1.4444444444;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        width: 33rem;
        height: 5rem;
        justify-content: center;
        font-weight: 500;
        display: flex;
        font-size: 1.8rem;
        background-color: #482be7;
        border-radius: 10rem;
        flex-shrink: 0;
        align-items: center;
      }
      .divider-or-N7j {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 0.25rem 1.66rem 0rem;

        .divider-6ZX {
          width: 14.157rem;
          height: 0.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.293rem 0.18rem 0rem;
        }
        .or-E9w {
          margin-right: 1.5932rem;
          font-size: 1.6rem;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
          font-weight: 400;
          line-height: 1.625;
          color: rgba(21, 20, 56, 0.400000006);
          flex-shrink: 0;
        }
        .divider-Xuj {
          height: 0.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.1801rem;
          width: 14.157rem;
        }
      }
      .middle-fill-sTo {
        display: flex;
        color: #ffffff;
        white-space: nowrap;
        margin: 0rem 0rem 3rem 0.05rem;
        height: 5rem;
        line-height: 1.4444444444;
        border-radius: 10rem;
        flex-shrink: 0;
        width: 33rem;
        justify-content: center;
        font-size: 1.8rem;
        font-weight: 500;
        font-family: DM Sans, 'Source Sans Pro';
        background-color: #1da1f2;
        align-items: center;
      }
      .auto-group-9dqv-LMP {
        margin: 0rem 1.9rem 0rem 3.05rem;
        width: calc(100% - 4.9502rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .do-you-have-an-accou-GVw {
          text-align: center;
          font-family: DM Sans, 'Source Sans Pro';
          flex-shrink: 0;
          line-height: 1.5555555556;
          color: rgba(21, 20, 56, 0.400000006);
          white-space: nowrap;
          margin-right: 1rem;
          font-size: 1.8rem;
          font-weight: 500;
        }
        .sign-in-PaZ {
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.5555555556;
          color: #25dac4;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
  }
}
